<div layout="row" layout-wrap layout-fill ng-cloak layout-align="center"
     ng-controller="FormPage">
    <md-whiteframe class="md-whiteframe-12dp" ng-class="{big_settings_wrapper : $root.bigScreen}" flex-xs="100"
                   flex-sm="100" flex-gt-sm="90" flex-gt-md="80">
        <md-content layout="column" layout-padding="">

            <h2 flex="100">{{$root.searched.name}}</h2>
            <edit-text def="$root.searched.name" holder="$root.searched.name" identifier="123"
                       title="team_name"></edit-text>
            <date-picker holder="$root.country" identifier="12321"></date-picker>
            <check-box title="$root.country" identifier="4"></check-box>
            <radio-group radios="myRadios" identifier="9"></radio-group>
            <spinner options="myRadios" title="$root.country" identifier="6766"></spinner>
            <switch title="$root.country" identifier="22"></switch>
            <div layout-align="end end" layout="row" style="width: 100%;" flex="100">
                <div flex="91"></div>
                <md-button class="md-accent md-raised" flex="5"
                           ng-click="$root.loadData(); $root.changeView($root.buttons[0])">Submit
                </md-button>
                <div flex="4"></div>
            </div>

        </md-content>
    </md-whiteframe>
</div>