<div ng-show=" $index == selectedUserIndex">
    <!--Match Number: {{item.details.match_number}}-->
    <div layout="row">
    <div flex="50" align="center">
            <h5 class="red bold">Red</h5>
            <hr>
            <div class="red" ng-class="{'bold' : item.details.alliances.red.teams[0] == $root.frcteam}">{{item.details.alliances.red.teams[0] | stripFRC}}</div>
            <div class="red" ng-class="{'bold' : item.details.alliances.red.teams[1] == $root.frcteam}">{{item.details.alliances.red.teams[1] | stripFRC}}</div>
            <div class="red" ng-class="{'bold' : item.details.alliances.red.teams[2] == $root.frcteam}">{{item.details.alliances.red.teams[2] | stripFRC}}</div>
    </div>
    <div flex="50" align="center">
            <h5 class="blue bold">Blue</h5>
            <hr>
            <div class="blue" ng-class="{'bold' : item.details.alliances.blue.teams[0] == $root.frcteam}">{{item.details.alliances.blue.teams[0] | stripFRC}}</div>
            <div class="blue" ng-class="{'bold' : item.details.alliances.blue.teams[1] == $root.frcteam}">{{item.details.alliances.blue.teams[1] | stripFRC}}</div>
            <div class="blue" ng-class="{'bold' : item.details.alliances.blue.teams[2] == $root.frcteam}">{{item.details.alliances.blue.teams[2] | stripFRC}}</div>
    </div>
    </div>
</div>