<div layout="row" layout-wrap layout-fill ng-cloak layout-align="center" ng-controller="TablePageController">
    <md-whiteframe class="md-whiteframe-12dp" ng-class="{big_settings_wrapper : $root.bigScreen}" flex-xs="100" style="max-height: 200vh"
                   flex-sm="100" flex-gt-sm="90" flex-gt-md="80">
        <div layout-wrap layout-fill ng-cloak layout-align="center center">
            <div layout="row" flex="flex" >
                <div ng-hide="toggleSearch" class="md-toolbar-item md-breadcrumb">
                </div>
                <span flex="flex" ng-hide="toggleSearch"></span>
                <md-input-container flex="flex" style="padding-left:88px;" ng-show="toggleSearch">
                    <input type="text" ng-model="search"/>
                </md-input-container>
                <div layout="row" class="md-toolbar-item md-tools">
                    <a href="#" ng-click="toggleSearch = !toggleSearch"
                       class="md-button md-default-theme">
                        <i class="ion-android-search"></i>
                    </a>
                </div>
            </div>
            <md-table headers="headers" sortable="sortable" filters="search"
                      custom-class="custom" count="count"></md-table>
        </div>
    </md-whiteframe>
</div>