.add-fab {
    position: fixed;
    bottom: 3vh;
    right: 2vw;
}

.add-fab-gt-sm{
    position: absolute;
    top: 95px;
    right: 2vw;
}

.md-sidenav-left {
    height: 87.4vh;;
    width: 4.6vw;
}

.nav-icon {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: large;
    height: 26px;
    width: 26px;
    max-width: 100%;
    max-height: 100%;
}

.nav {
    overflow: hidden;
    height: 100%;
}

.nav-wrapper {
    height: 100%;
}

.current {
    height: 36px;
    width: 36px;
    color: #4285F4;
}

body {
    height: 87.4vh;;
}

.body {
    overflow: hidden;
    width: 100%;
    height: 87.4vh;
}

.settings_wrapper{

}
.big_settings_wrapper{
    overflow:hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*CSS for cards of scores*/

.red{
    color:red;
}

.blue{
    color:blue;
}

.bold{
    font: bold 100% Arial;
}

.winner{
    text-decoration: underline;
}