<link rel="stylesheet" href="directives/expanding_cards/expanding_cards.css">
<md-content layout="row" flex layout-align="center" layout-fill ng-controller="ExpandedCard">
    <div flex="70" class="content" ui-view>
        <md-item ng-repeat="item in objects" class="item"
                 ng-class="{ 'selected-item': $index == selectedUserIndex}">
            <md-item-content class="user tile md-whiteframe-z1"
                             ng-class="{ 'selected md-whiteframe-z2': $index == selectedUserIndex}"
                             layout="column">
                <div layout="row" layout-fill ng-click="selectUserIndex($index)" class="folded">
                    <div class="md-tile-content" layout="column" layout-align="center start">
                        <h3>{{item.title}}</h3>
                        <p ng-show="$index != selectedUserIndex">
                            <span>{{item.short}}</span>
                        </p>
                    </div>
                </div>
                <md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
                <div layout="column" layout-fill class="expanded" ng-include="item.view">

                </div>
            </md-item-content>
            <md-divider class="divider-inset" ng-if="!$last"></md-divider>
        </md-item>
    </div>
</md-content>